body {
    margin: 0;
    background: linear-gradient(45deg, #1d1d1d, #3a3a3a);
    height: 200%;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}

h1 {
    position: relative;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

h2 {
    position: relative;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

form {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.navbar {
    font-family: 'Courier New', Courier, monospace;
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
.navbar-visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.code-container {
    position: relative;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
}

.hidden {
    opacity: 0;
}

.projects {
    display: none;
}

.about {
    display: none;
}

.card {
    color: #2b3137;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fafbfc;
    transition: transform 0.3s, filter 0.3s;
}

.card a {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    background-color: #2dba4e;
    transition: transform 0.3s, filter 0.3s;
    border-color: #1e7933;
}

.card a:hover {
    background-color: #30c653;
    border-color: #218939;
}

.card a:focus {
    background-color: #208839;
    border-color: #218939;
}

.card:hover {
    transform: scale(1.1);
}

.info-container {
    color: white;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin: 0 auto;
    transition: opacity 2s ease-in-out;
}

.info-container img {
    transition: transform 0.3s, filter 0.3s;
    cursor: pointer;
}

.info-container img:hover {
    transform: scale(1.2);
}

#info {
    font-size: 30px;
}

#particleCanvas {
    transition: opacity 2s ease-in-out;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#code::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: white;
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#code {
    color: white;
}

