<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniil Volkov</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-12 text-center">
            <h1>Admin page</h1>
            <h2>Site content</h2>
            <form id="content-form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description"><br><br>
                <label for="about_me">About me:</label>
                <input type="text" id="about_me" name="about_me"><br><br>
                <input type="submit" value="Content">
            </form>
            <br><br>
            <h2>Resume upload</h2>
            <form id="resume-form" action="/admin/file_upload" method="post" enctype="multipart/form-data">
                <label for="file">Choose a PDF file:</label>
                <input type="file" id="file" name="file" accept="application/pdf">
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
    <script src="static/post_json_from_form.js"></script>
    <script>
        handleFormSubmit('content-form', '/admin/content');
    </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
